.app {
  margin: 0;
}

/* Navbar */



/* Welcome Page Styling */

.landing-page {
  background: url('https://images.unsplash.com/photo-1559854036-2409f22a918a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(76, 101, 203, 0.6);
  object-fit: contain;
  text-align: center;
}


h1 {
  font-size: 10rem;
  color: #EDF2FB;
}


.landing-page > p {
  font-size: 2rem;
  color: #EDF2FB;
}

@media (max-width: 768px) {
  h1 {
    font-size: 7rem;
  }
  .landing-page > p {
    font-size: 1.5rem;
  }
}


.login-btn {
  margin: 2rem;
  height: 3rem;
  width: 10rem;
  color: white;
  background: none;
  border: 3px solid #ABC4FF;
}

.login-btn:hover {
  background-color: #ABC4FF;
  border: 1px solid #ABC4FF;
}

.login-btn:active {
  background-color: #B6CCFE;
}

.signup-btn {
  margin: 0.2rem;
  height: 3rem;
  width: 10rem;
  color: white;
  background: none;
  border: 3px solid #ABC4FF;
}

.signup-btn:hover {
  background-color: #ABC4FF;
  border: 1px solid #ABC4FF;
}

.signup-btn:active {
  background-color: #B6CCFE;
}

@keyframes moving {
  from {top: -700px;}
  to {top: 0px;}
}

.landing-page > h1 {
  position: relative;
  -webkit-animation: moving 3s;
  animation: moving 3s;
}

@keyframes moving-text {
  from {left: -2000px;}
  to {left: 0px;}
}

.landing-page > .intro-text {
  position: relative;
  -webkit-animation: moving-text 3s;
  animation: moving-text 3s;
}

@keyframes buttons {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* The element to apply the animation to */
.login-btn, .signup-btn {
  position: relative;
  animation-delay: 3s;
  -webkit-animation: buttons 3s;
  animation: buttons 3s;
}



 /* Log In Page */

 .landing-page-login {
  background: url('https://images.unsplash.com/photo-1559854036-2409f22a918a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(76, 101, 203, 0.6);
  object-fit: contain;
  text-align: center;
}

.intro-text-login {
  font-size: 2rem;
  color: #EDF2FB;
  margin-bottom: 10px;
}

 .login {
   color: #fff;
 }

 form {
  opacity: 0;
}

 @keyframes moving-up {
  from {bottom: 0px;}
  to {bottom: 200px;}
}

.landing-page-login > h1, .intro-text-login {
  position: relative;
  -webkit-animation: moving-up 4s forwards;
  animation: moving-up 4s forwards;
}

@keyframes show-login {
  from {opacity: 0;}
  to {opacity: 1;}
  from {bottom: 0px;}
  to {bottom: 150px;}
}

form {
  position: relative;
  -webkit-animation: show-login 4s forwards;
  animation: show-login 4s forwards;
  color: white;
}

@media (max-width: 768px) {
  @keyframes moving-up {
    from {bottom: 0px;}
    to {bottom: 100px;}
  }
  
  .landing-page-login > h1, .intro-text-login {
    position: relative;
    -webkit-animation: moving-up 4s forwards;
    animation: moving-up 4s forwards;
  }
  
  @keyframes show-login {
    from {opacity: 0;}
    to {opacity: 1;}
    from {bottom: 0px;}
    to {bottom: 80px;}
  }
  
  form {
    position: relative;
    -webkit-animation: show-login 4s forwards;
    animation: show-login 4s forwards;
    color: white;
  }

  h1 {
    font-size: 7rem;
  }
  .intro-text-login {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  @keyframes moving-up {
    from {bottom: 0px;}
    to {bottom: 60px;}
  }
  
  .landing-page-login > h1, .intro-text-login {
    position: relative;
    -webkit-animation: moving-up 4s forwards;
    animation: moving-up 4s forwards;
  }
  
  @keyframes show-login {
    from {opacity: 0;}
    to {opacity: 1;}
    from {bottom: 0px;}
    to {bottom: 40px;}
  }
  
  form {
    position: relative;
    -webkit-animation: show-login 4s forwards;
    animation: show-login 4s forwards;
    color: white;
  }

  h1 {
    font-size: 7rem;
  }
  .intro-text-login {
    font-size: 1.5rem;
  }
}

/* Signup Page */

.landing-page-signup {
  background: url('https://images.unsplash.com/photo-1559854036-2409f22a918a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(76, 101, 203, 0.6);
  object-fit: contain;
  text-align: center;
}

.intro-text-signup {
  font-size: 2rem;
  color: #EDF2FB;
  margin-bottom: 10px;
}

 .login {
   color: #fff;
 }

 form {
  opacity: 0;
}

 @keyframes moving-up {
  from {bottom: 0px;}
  to {bottom: 120px;}
}

.landing-page-signup > h1, .intro-text-signup {
  position: relative;
  -webkit-animation: moving-up 4s forwards;
  animation: moving-up 4s forwards;
}

@keyframes show-signup {
  from {opacity: 0;}
  to {opacity: 1;}
  from {bottom: 0px;}
  to {bottom: 100px;}
}

form {
  position: relative;
  -webkit-animation: show-signup 4s forwards;
  animation: show-signup 4s forwards;
  color: white;
}

@media (max-width: 768px) {
  @keyframes moving-up {
    from {bottom: 0px;}
    to {bottom: 50px;}
  }
  
  .landing-page-signup > h1, .intro-text-signup  {
    position: relative;
    -webkit-animation: moving-up 4s forwards;
    animation: moving-up 4s forwards;
  }
  
  @keyframes show-signup {
    from {opacity: 0;}
    to {opacity: 1;}
    from {bottom: 0px;}
    to {bottom: 20px;}
  }
  
  form {
    position: relative;
    -webkit-animation: show-signup 4s forwards;
    animation: show-signup 4s forwards;
    color: white;
  }

  h1 {
    font-size: 7rem;
  }
  .intro-text-signup  {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  @keyframes moving-up {
    from {bottom: 0px;}
    to {bottom: 20px;}
  }
  
  .landing-page-signup > h1, .intro-text-signup  {
    position: relative;
    -webkit-animation: moving-up 4s forwards;
    animation: moving-up 4s forwards;
  }
  
  @keyframes show-signup {
    from {opacity: 0;}
    to {opacity: 1;}
    from {bottom: 0px;}
    to {bottom: 20px;}
  }
  
  form {
    position: relative;
    -webkit-animation: show-signup 4s forwards;
    animation: show-signup 4s forwards;
    color: white;
  }

  h1 {
    font-size: 5rem;
  }

  
  .intro-text-signup  {
    font-size: 1rem;
  }
}


/* Home Page */

.content-containers {
  padding-top: 2rem;
  height: 90vh;
}

.feed {
  border-left: 2px solid #CCDBFD;
  border-right: 2px solid #CCDBFD;
}
.col-6 {
  border: 3px solid #EDF2FB;
}

.post-container {
  box-shadow: 0 0 15px 2px #c9c9cd;
  background-color: #E2EAFC;
  border-radius: 15px;
  padding: 10px;
  margin-top: 3rem;
}

NavLink {
  color: black;
}

/* Profile Page */

.profile-img {
  border-radius: 50%;
  height: 8rem;
}

.profile-posts {
  border-left: 2px solid #CCDBFD;
}

/* Settings Page */

.settings-container h2 {
  text-align: center;
}

.settings-container input {
  margin: 2rem;
  width: 60%;
  margin: 2rem auto;
}

.row {
  margin-bottom: 6rem;
}

/* Feed */

.post-image {
  border-radius: 50%;
  height: 3rem;
}
